.ant-table th {
  width: 100px;
}
  
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 0 5px; 
}
.ant-table td {
  /*white-space: nowrap;*/
  width: 100px;
  height: 50px;
}
.ant-table-placeholder{
  z-index: 0;
}